.status-icons{
    display:flex;
    align-items:center;
    height:34px;
}
.status-icons img{
    height:100%;
    width:auto;
}
.status-icons a{
    display: block;
    height: 100%;
}
@media (max-width:767px){
    .status-bar{
        display:none;
    }
    .status-icons{
        display:none;
    }
}